.fading-image {
  animation: rotateAndPause 1s linear infinite;
}

@keyframes rotateAndPause {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  60% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.vex-splash-screen-loader::before {
  animation: vex-splash-screen-loader-animation .75s forwards;
}